@import './utils/variables';
@import './base/defaulst';
@import './components/logo';
@import './components/header';
@import './components/mob-menu';
@import './components/index/hero';
@import './components/index/features';
@import './components/index/works';
@import './components/index/teams';
@import './components/index/company';
@import './components/index/modal';
@import './components/porfolio/struducture';
@import './components/footer';

