.header-flex-container {
  @media screen and (min-width: 480px) {
    .container {
    width: 480px;
    }
  }  
  display: flex;
  height: 60px;
  align-items: center;  

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header{
  @media screen and (max-width: 767px){
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 600;
    background-color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
  display: flex;
  align-items: center;
  height: 80px;}
  border-bottom: 1px solid #EEEE;
}

.navigation__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: $color-text;
  text-decoration: none;
  padding: 32px 0;
  &:focus,
  &:hover {
  color:$akcent-color;
  }
}
  
.navigation__link-contact {
  &:first-child {
    margin-bottom: 10px;
}
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-color;
  text-decoration: none;
  transition: color $timing-function;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 14.06px;}
  &:focus,
  &:hover {
  color:$akcent-color;
  }
}
.navigation__list-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
  
.navigation__list {
  @media screen and (max-width: 767px){
    display: none;
    visibility: hidden;
  padding-top: 0px;}
  display: flex;
  align-items: center;
}
// .navigation__list-contact .navigation__item{
//   @media screen and (min-width: 768px) and (max-width: 1199px){
//     margin-right: 0px;}
// }
.navigation__list-contact .navigation__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-right: 0px;}
  margin-right: 53px;}

.navigation__list .navigation__item:not(:last-child) {
  margin-right: 53px;
}

.navigation__icon-mail {
  width: 16px;
  height: 12px;  
  margin-right: 10px;
}
  
.navigation__icon-phone {
  height: 16px;
  width: 10px;
  margin-right: 10px;
}

.navigation__link{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color $timing-function;
}
    
.navigation__link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  display: inline-flex;
  width: 100%;
  height: 4px;         
  background-color: $accent-color;
  border-radius: 2px;
  transform: scale(0);
  opacity: 0;
  transition: transform $timing-function,
    opacity $timing-function;
}

.current:hover::after,
.current:focus::after {
        transform: scale(1);
        opacity: 1;}

.current::after, .navigation__link .current:hover::after, .navigation__link .current:focus::after {
      transform: scale(1);
      opacity: 1;
        }
.current{
      color: #2196F3;
        }
    .navigation__list-contact {
      @media screen  and (max-width: 767px){
        display: none;
        visibility: hidden;
        padding-top: 0px;}
        @media screen and (min-width: 768px) and (max-width: 1199px){
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          margin-left: 84px;
        }

      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }
    .header__navigation {
      display: flex;
      align-items: center;
      
    }
    .icon__menu{
      width: 40px;
      height: 40px;
      z-index: 100;
    }

.header__bt-menu{
  @media screen and (max-width: 767px){
    display: flex;
    margin-right: 0px;
    z-index: 1000;
  }
  
  @media screen and (min-width: 768px){
    display: none;
  visibility: hidden;
  }

  display: block;
  margin-left: auto;
  background-color: transparent;
  outline: transparent;
  border: transparent;  
}

//   fill: $color-text;
//   transition: fill $timing-function;

//   &:hover,
//   &:focus {
//     fill: $accent-color;
//   }
// }

    .icon-open {
      .header__bt-menu--active & {
        opacity: 1;
      }

      opacity: 0;
    }

    .icon-close {
      .header__bt-menu--active & {
        opacity: 0;
      }

      opacity: 1;
    }