.navigation__headr-logo {

    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-text;
    text-decoration: none;
    display: flex;
    margin-right: 94px;
    

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
  }
  }
  .navigation__headr-logo span {
    color: $akcent-color;
  }
  .navigation__headr-logo{
  cursor: pointer;
}