.modal{
  @media screen and (max-width: 1199px){
    height: 609px;
   width: 450px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);  
   border-radius: 4px;
   transition: transform $timing-function; 

   }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);       
    z-index: 1000;
    height: 581px;
    width: 528px;
    padding: 40px;
    background-color: $white-color;
    border-radius: 4px;
    transform: translate(-50%, -50%);      
    transition: transform $timing-function; 
    cursor: pointer;
    overflow: hidden;
  }
  
  .modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill $timing-function;
    &:hover,
    &:focus {
    fill: $accent-color;}
    cursor: pointer;
  }
  .icon-cls {
    width: 18px;
    height: 18px;
    transition: $timing-function;
  }
  .form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transition: $timing-function;
  }
  .register{
    display: block;
  }
  .register__form-opts{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
  }
  .register__form-word{
    width: 100%;
    padding: 10px 11px 10px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: $timing-function;
  }
  .register__text{
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $second-color;
  }
  .register__textarea{
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
  }
  .register__link {
    color: $accent-color;
    text-decoration: underline;}
            .register__form-word, 
            .register__textarea {   
              border: 1px solid rgba(33, 33, 33, 0.2);
              border-radius: 4px;
              transform: border-color $timing-function;
            &:hover,
            &:focus{
                outline: none;
              border-color: $accent-color;}
              &:hover ~ .form__icon,
            &:focus ~ .form__icon{
                color: $accent-color;} }
            .register__textarea {   
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 4px;
                transform: border-color $timing-function;
                &:hover,
               &:focus {
              outline: none;
              border-color: $accent-color;}
              &:hover ~ .form__icon,          
              &:focus ~ .form__icon {
                color: $accent-color;}
              }

              .form__field-checkbox{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
              }
              .form__input-checkbox{
                appearance: none;
              }
              .form__checkbox-icon {
                display: inline-flex;
                width: 16px;
                height: 15px;
                border: 2px solid $color-text;
                border-radius: 2px;}
              .register__link {
                color: $accent-color;
                text-decoration: underline;}
              .form__label-checkbox {
                margin-left: 8px;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                color: $main-text-color};
                .form__btn .button-main{          
                padding: 10px 52px;}
                .form__input-checkbox:checked + .form__checkbox-icon {
                  background-color: $accent-color;
                  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
                  background-position: center;
                  background-origin: border-box;
                  border-color: $accent-color;}
                  .is-hidden{
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                  }
.modal__register-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
}