
.list-team{
    background-color: $background;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
.team__item {
  @media screen and (min-width: 768px){
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }}
.team__list{
  padding-bottom: 24px;  
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $white-color;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}  

@media screen and (min-width: 1200px) {        
    padding-bottom: 30px;
}
}
.team__photo{
  margin-bottom: 30px;
  @media screen and (min-width: 320px) {
    width: 450px;
    height: 460px;}

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 362px;}
@media screen and (min-width: 1200px) {
  width: 270px;
  height: 276px;}
}


// .list-photo-img{
//     padding-top: 30px;
//     padding-bottom: 30px;
// }
.teams__name {
  margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  
}
.teams__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $second-color;
  }
.socials__list{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
    margin-top: 0px;
    padding: 0px;
    list-style: none;
  }  
.socials__link-team {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: $fill-color;
  background-color: $white-color;
  border-radius: 50%;
  transition: background-color $timing-function, 
  color $timing-function;  

&:hover,
&:focus{
  background-color: $accent-color;
  color: $white-color;}
}
.socials__icon{
    width: 20px;
    height: 20px;   
  }
